cofina_credit.sql
package.json
public/mockServiceWorker.js
public/docs
/.scribe
/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/framework
/storage/app/public/upload/scripts-2024-09-20
/storage/app/public/upload/scripts-2024-09-23
/storage/app/public/upload/scripts/.venv
/storage/app/public/upload/scripts/logs
/storage/app/public/upload/scripts/Lib/__pycache__/
/storage/app/public/upload/scripts/Files/data-bilan-extractor
/storage/app/public/upload/scripts/Files/compte-resultat-extractor
/storage/app/public/upload/scripts/Files/data-cr-extractor
/storage/app/public/upload/scripts/Files/wextractor
/storage/app/public/upload/scripts/Files/wextractor-auto
/storage/app/public/upload/scripts/Files/wextractor-multi-auto
/storage/app/public/upload/scripts/Files/wextractor-multi
/storage/app/public/upload/scripts/Files/report-txt
/storage/app/public/upload/scripts/Files/operations
/storage/app/public/upload/scripts/Files/rextractor
/storage/app/public/upload/scripts/Files/ta-extractor
/storage/app/public/upload/scripts/Files/cac-extractor
/storage/logs
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
mysql

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
*.local

/cypress/videos/
/cypress/screenshots/

# 👉 Custom Git ignores

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets
!.vscode/tours
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.yarn



# Env files
.env*
!.env.example
credit.zip
notes.txt
ssl
composer.lock
pnpm-lock.yaml