openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://pecorator.ulrich.client'
paths:
  /api/auth/login:
    post:
      summary: 'Connecte un utilisateur'
      operationId: connecteUnUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "L'email de l'utilsateur."
                  example: admin@pecorator.com
                password:
                  type: string
                  description: "Le mot de passe complet de l'utilisateur."
                  example: azerty
              required:
                - email
                - password
  /api/auth/show:
    get:
      summary: "Affiche l'utilisateur connecté"
      operationId: afficheLutilisateurConnect
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Authentification
  /api/auth/logout:
    delete:
      summary: "Déconnecte l'utilisateur connecté"
      operationId: dconnecteLutilisateurConnect
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Authentification
  /api/decor:
    get:
      summary: 'Affiche les decors'
      operationId: afficheLesDecors
      description: ''
      parameters:
        -
          in: query
          name: name
          description: 'Filtrer par nom du decor.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filtrer par nom du decor.'
            example: null
        -
          in: query
          name: file_path
          description: 'Filtrer par chemin du decor.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filtrer par chemin du decor.'
            example: null
        -
          in: query
          name: event_id
          description: 'Filtrer par événement.'
          example: null
          required: false
          schema:
            type: string
            description: 'Filtrer par événement.'
            example: null
        -
          in: query
          name: with_event
          description: "Afficher l'événement."
          example: 'false'
          required: false
          schema:
            type: string
            description: "Afficher l'événement."
            example: 'false'
        -
          in: query
          name: paginate
          description: 'Utiliser la pagination.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Utiliser la pagination.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
    post:
      summary: 'Créer un nouveau decor'
      operationId: crerUnNouveauDecor
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Le nom du decor.'
                  example: first
                file:
                  type: string
                  description: 'Le fichier.'
                  example: ...
                description:
                  type: string
                  description: 'La description.'
                  example: ...
                event_id:
                  type: integer
                  description: "L'événement."
                  example: 1
  '/api/decor/{id}':
    get:
      summary: 'Affiche un décor'
      operationId: afficheUnDcor
      description: ''
      parameters:
        -
          in: query
          name: with_event
          description: "Afficher l'événement."
          example: 'false'
          required: false
          schema:
            type: string
            description: "Afficher l'événement."
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
    put:
      summary: 'Mettre à jour un decor'
      operationId: mettreJourUnDecor
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Le nom du decor.'
                  example: first
                file:
                  type: string
                  description: 'Le fichier.'
                  example: ...
                description:
                  type: string
                  description: 'La description.'
                  example: ...
                event_id:
                  type: integer
                  description: "L'événement."
                  example: 1
    delete:
      summary: 'Supprime un decor'
      operationId: supprimeUnDecor
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
    parameters:
      -
        in: path
        name: id
        description: "Optional parameter. L'ID du decor."
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/user:
    get:
      summary: 'Affiche les utilisateurs'
      operationId: afficheLesUtilisateurs
      description: ''
      parameters:
        -
          in: query
          name: name
          description: "Filtrer par nom de l'utilisateur."
          example: null
          required: false
          schema:
            type: string
            description: "Filtrer par nom de l'utilisateur."
            example: null
        -
          in: query
          name: email
          description: "Filtrer par email de l'utilisateur."
          example: null
          required: false
          schema:
            type: string
            description: "Filtrer par email de l'utilisateur."
            example: null
        -
          in: query
          name: profile
          description: "Filtrer par profile de l'utilisateur."
          example: null
          required: false
          schema:
            type: string
            description: "Filtrer par profile de l'utilisateur."
            example: null
        -
          in: query
          name: with_events
          description: 'Afficher les evenements.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Afficher les evenements.'
            example: 'false'
        -
          in: query
          name: paginate
          description: 'Utiliser la pagination.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Utiliser la pagination.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
    post:
      summary: 'Créer un nouvelle utilisateur'
      operationId: crerUnNouvelleUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Le nom de l'utilisateur."
                  example: charles.gamligo
                email:
                  type: string
                  description: "La valeur de l'utilisateur."
                  example: charles.gamligo@cofinacorp.com
                password:
                  type: string
                  description: "L'heure de l'ancement de l'utilisateur."
                  example: P@sse123
                profile:
                  type: string
                  description: "Le profile de l'utilisateur."
                  example: admin
                picture:
                  type: string
                  description: "L'image de l'utilisateur."
                  example: '0'
  '/api/user/{id}':
    get:
      summary: 'Affiche un utilsateur'
      operationId: afficheUnUtilsateur
      description: ''
      parameters:
        -
          in: query
          name: with_events
          description: 'Afficher les departements.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Afficher les departements.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
    put:
      summary: 'Mettre à jour un utilisateur'
      operationId: mettreJourUnUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Le nom de l'utilisateur."
                  example: charles.gamligo
                email:
                  type: string
                  description: "La valeur de l'utilisateur."
                  example: charles.gamligo@cofinacorp.com
                password:
                  type: string
                  description: "L'heure de l'ancement de l'utilisateur."
                  example: P@sse123
                profile:
                  type: string
                  description: "Le profile de l'utilisateur."
                  example: admin
                picture:
                  type: string
                  description: "L'image de l'utilisateur."
                  example: '0'
    delete:
      summary: 'Supprime un utilisateur'
      operationId: supprimeUnUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
    parameters:
      -
        in: path
        name: id
        description: "Optional parameter. L'ID de l'utilisateur."
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/user/update-password:
    put:
      summary: "Mettre à jour le mot de passe de l'utilisateur connecté utilisateur"
      operationId: mettreJourLeMotDePasseDeLutilisateurConnectUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  description: "L'ancien mot de passe de l'utilisateur."
                  example: rerum
                new_password:
                  type: string
                  description: "Le nouveau mot de passe de l'utilisateur."
                  example: fuga
                new_password_confirmation:
                  type: string
                  description: "La confirmation du nouveau mot de passe de l'utilisateur."
                  example: autem
              required:
                - old_password
                - new_password
                - new_password_confirmation
tags:
  -
    name: Authentification
    description: "\nEndPoints pour gérer l'authentification"
  -
    name: Decors
    description: "\nEndPoints pour gérer les décors"
  -
    name: Utilisateurs
    description: "\nEndPoints pour gérer les utilisateurs"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
