openapi: 3.0.3
info:
  title: Laravel
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://pecorator.ulrich.client'
paths:
  /api/auth/login:
    post:
      summary: 'Connecte un utilisateur'
      operationId: connecteUnUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Authentification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: "L'email de l'utilsateur."
                  example: admin@pecorator.com
                password:
                  type: string
                  description: "Le mot de passe complet de l'utilisateur."
                  example: azerty
              required:
                - email
                - password
  /api/auth/show:
    get:
      summary: "Affiche l'utilisateur connecté"
      operationId: afficheLutilisateurConnect
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Authentification
  /api/auth/logout:
    delete:
      summary: "Déconnecte l'utilisateur connecté"
      operationId: dconnecteLutilisateurConnect
      description: ''
      parameters: []
      responses:
        204:
          description: ''
      tags:
        - Authentification
  /api/decor:
    get:
      summary: 'Affiche les decors'
      operationId: afficheLesDecors
      description: ''
      parameters:
        -
          in: query
          name: name
          description: Nom.
          example: null
          required: false
          schema:
            type: string
            description: Nom.
            example: null
        -
          in: query
          name: start_use
          description: "Date début d'utilisation."
          example: null
          required: false
          schema:
            type: string
            description: "Date début d'utilisation."
            example: null
        -
          in: query
          name: end_use
          description: "Date fin d'utilisation."
          example: null
          required: false
          schema:
            type: string
            description: "Date fin d'utilisation."
            example: null
        -
          in: query
          name: event_id
          description: Evenement.
          example: null
          required: false
          schema:
            type: string
            description: Evenement.
            example: null
        -
          in: query
          name: with_event
          description: "Afficher l'événement."
          example: 'false'
          required: false
          schema:
            type: string
            description: "Afficher l'événement."
            example: 'false'
        -
          in: query
          name: paginate
          description: 'Utiliser la pagination.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Utiliser la pagination.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
    post:
      summary: 'Créer un nouveau decor'
      operationId: crerUnNouveauDecor
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nom.
                  example: Base
                file:
                  type: string
                  description: 'Le décor.'
                  example: ...
                start_use:
                  type: string
                  description: "Date début d'utilisation."
                  example: '2024-10-01'
                end_use:
                  type: string
                  description: "Date fin d'utilisation."
                  example: '2025-01-31'
                event_id:
                  type: string
                  description: Evenement.
                  example: '1'
  '/api/decor/{id}':
    get:
      summary: 'Affiche un décor'
      operationId: afficheUnDcor
      description: ''
      parameters:
        -
          in: query
          name: with_event
          description: "Afficher l'événement."
          example: 'false'
          required: false
          schema:
            type: string
            description: "Afficher l'événement."
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
    put:
      summary: 'Mettre à jour un decor'
      operationId: mettreJourUnDecor
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nom.
                  example: Base
                file:
                  type: string
                  description: 'Le décor.'
                  example: ...
                start_use:
                  type: string
                  description: "Date début d'utilisation."
                  example: '2024-10-01'
                end_use:
                  type: string
                  description: "Date fin d'utilisation."
                  example: '2025-01-31'
                event_id:
                  type: string
                  description: Evenement.
                  example: '1'
    delete:
      summary: 'Supprime un decor'
      operationId: supprimeUnDecor
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Decors
    parameters:
      -
        in: path
        name: id
        description: "Optional parameter. L'ID du decor."
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/event:
    get:
      summary: 'Affiche les événement'
      operationId: afficheLesvnement
      description: ''
      parameters:
        -
          in: query
          name: name
          description: Nom.
          example: null
          required: false
          schema:
            type: string
            description: Nom.
            example: null
        -
          in: query
          name: start_date
          description: 'Date de début.'
          example: null
          required: false
          schema:
            type: string
            description: 'Date de début.'
            example: null
        -
          in: query
          name: end_date
          description: 'Date de fin.'
          example: null
          required: false
          schema:
            type: string
            description: 'Date de fin.'
            example: null
        -
          in: query
          name: promoter_id
          description: Promoteur.
          example: null
          required: false
          schema:
            type: integer
            description: Promoteur.
            example: null
        -
          in: query
          name: place
          description: Lieu.
          example: null
          required: false
          schema:
            type: string
            description: Lieu.
            example: null
        -
          in: query
          name: type
          description: Type.
          example: null
          required: false
          schema:
            type: string
            description: Type.
            example: null
        -
          in: query
          name: nb_expected
          description: 'Nombre de personne attendu.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Nombre de personne attendu.'
            example: null
        -
          in: query
          name: entrance
          description: "Type d'entrée."
          example: null
          required: false
          schema:
            type: string
            description: "Type d'entrée."
            example: null
        -
          in: query
          name: entry_price
          description: "Prix d'entrée."
          example: null
          required: false
          schema:
            type: integer
            description: "Prix d'entrée."
            example: null
        -
          in: query
          name: contact
          description: Contact.
          example: null
          required: false
          schema:
            type: string
            description: Contact.
            example: null
        -
          in: query
          name: description
          description: 'Description detaillée.'
          example: null
          required: false
          schema:
            type: string
            description: 'Description detaillée.'
            example: null
        -
          in: query
          name: description_summary
          description: 'Description résumé.'
          example: null
          required: false
          schema:
            type: string
            description: 'Description résumé.'
            example: null
        -
          in: query
          name: with_promoter
          description: 'Afficher le promoteur.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Afficher le promoteur.'
            example: 'false'
        -
          in: query
          name: paginate
          description: 'Utiliser la pagination.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Utiliser la pagination.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Evenements
    post:
      summary: 'Créer un nouveau decor'
      operationId: crerUnNouveauDecor
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Evenements
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nom.
                  example: 'Hiver Togo'
                start_date:
                  type: string
                  description: 'Date de début.'
                  example: '2024-12-01'
                end_date:
                  type: string
                  description: 'La date de début.'
                  example: '2024-12-01'
                place:
                  type: string
                  description: Lieu.
                  example: Lomé
                type:
                  type: string
                  description: Type.
                  example: Dance
                nb_expected:
                  type: integer
                  description: 'Nombre de personne attendu.'
                  example: 45
                entrance:
                  type: string
                  description: "Type d'entrée."
                  example: free
                entry_price:
                  type: integer
                  description: "Prix d'entrée."
                  example: null
                contact:
                  type: string
                  description: Contact.
                  example: '+228 90 90 90 90'
                description:
                  type: string
                  description: 'Description detaillée.'
                  example: 'description détaillé'
                description_summary:
                  type: string
                  description: 'Description résumé.'
                  example: 'description résumé'
                poster:
                  type: string
                  description: Affiche.
                  example: ...
  '/api/event/{id}':
    get:
      summary: 'Affiche un décor'
      operationId: afficheUnDcor
      description: ''
      parameters:
        -
          in: query
          name: with_promoter
          description: 'Afficher le promoteur.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Afficher le promoteur.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Evenements
    put:
      summary: 'Mettre à jour un événement'
      operationId: mettreJourUnvnement
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Evenements
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nom.
                  example: 'Hiver Togo'
                start_date:
                  type: string
                  description: 'Date de début.'
                  example: '2024-12-01'
                end_date:
                  type: string
                  description: 'La date de début.'
                  example: '2024-12-01'
                place:
                  type: string
                  description: Lieu.
                  example: Lomé
                type:
                  type: string
                  description: Type.
                  example: Dance
                nb_expected:
                  type: integer
                  description: 'Nombre de personne attendu.'
                  example: 45
                entrance:
                  type: string
                  description: "Type d'entrée."
                  example: free
                entry_price:
                  type: integer
                  description: "Prix d'entrée."
                  example: null
                contact:
                  type: string
                  description: Contact.
                  example: '+228 90 90 90 90'
                description:
                  type: string
                  description: 'Description detaillée.'
                  example: 'description détaillé'
                description_summary:
                  type: string
                  description: 'Description résumé.'
                  example: 'description résumé'
                poster:
                  type: string
                  description: Affiche.
                  example: ...
    delete:
      summary: 'Supprime un événement'
      operationId: supprimeUnvnement
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Evenements
    parameters:
      -
        in: path
        name: id
        description: "Optional parameter. L'événement."
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/user:
    get:
      summary: 'Affiche les utilisateurs'
      operationId: afficheLesUtilisateurs
      description: ''
      parameters:
        -
          in: query
          name: name
          description: "Filtrer par nom de l'utilisateur."
          example: null
          required: false
          schema:
            type: string
            description: "Filtrer par nom de l'utilisateur."
            example: null
        -
          in: query
          name: email
          description: "Filtrer par email de l'utilisateur."
          example: null
          required: false
          schema:
            type: string
            description: "Filtrer par email de l'utilisateur."
            example: null
        -
          in: query
          name: profile
          description: "Filtrer par profile de l'utilisateur."
          example: null
          required: false
          schema:
            type: string
            description: "Filtrer par profile de l'utilisateur."
            example: null
        -
          in: query
          name: with_events
          description: 'Afficher les evenements.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Afficher les evenements.'
            example: 'false'
        -
          in: query
          name: paginate
          description: 'Utiliser la pagination.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Utiliser la pagination.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
    post:
      summary: 'Créer un nouvelle utilisateur'
      operationId: crerUnNouvelleUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Le nom de l'utilisateur."
                  example: charles.gamligo
                email:
                  type: string
                  description: "La valeur de l'utilisateur."
                  example: charles.gamligo@cofinacorp.com
                password:
                  type: string
                  description: "L'heure de l'ancement de l'utilisateur."
                  example: P@sse123
                activated:
                  type: integer
                  description: "L'activation."
                  example: 0
                profile:
                  type: string
                  description: "Le profile de l'utilisateur."
                  example: admin
                picture:
                  type: string
                  description: "L'image de l'utilisateur."
                  example: '0'
  '/api/user/{id}':
    get:
      summary: 'Affiche un utilsateur'
      operationId: afficheUnUtilsateur
      description: ''
      parameters:
        -
          in: query
          name: with_events
          description: 'Afficher les departements.'
          example: 'false'
          required: false
          schema:
            type: string
            description: 'Afficher les departements.'
            example: 'false'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
    put:
      summary: 'Mettre à jour un utilisateur'
      operationId: mettreJourUnUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: "Le nom de l'utilisateur."
                  example: charles.gamligo
                email:
                  type: string
                  description: "La valeur de l'utilisateur."
                  example: charles.gamligo@cofinacorp.com
                password:
                  type: string
                  description: "L'heure de l'ancement de l'utilisateur."
                  example: P@sse123
                activated:
                  type: integer
                  description: "L'activation."
                  example: 0
                profile:
                  type: string
                  description: "Le profile de l'utilisateur."
                  example: admin
                picture:
                  type: string
                  description: "L'image de l'utilisateur."
                  example: '0'
    delete:
      summary: 'Supprime un utilisateur'
      operationId: supprimeUnUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
    parameters:
      -
        in: path
        name: id
        description: "Optional parameter. L'ID de l'utilisateur."
        required: true
        schema:
          type: integer
        examples:
          omitted:
            summary: 'When the value is omitted'
            value: ''
          present:
            summary: 'When the value is present'
            value: 1
  /api/user/update-password:
    put:
      summary: "Mettre à jour le mot de passe de l'utilisateur connecté utilisateur"
      operationId: mettreJourLeMotDePasseDeLutilisateurConnectUtilisateur
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Utilisateurs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                old_password:
                  type: string
                  description: "L'ancien mot de passe de l'utilisateur."
                  example: provident
                new_password:
                  type: string
                  description: "Le nouveau mot de passe de l'utilisateur."
                  example: accusantium
                new_password_confirmation:
                  type: string
                  description: "La confirmation du nouveau mot de passe de l'utilisateur."
                  example: voluptas
              required:
                - old_password
                - new_password
                - new_password_confirmation
tags:
  -
    name: Authentification
    description: "\nEndPoints pour gérer l'authentification"
  -
    name: Decors
    description: "\nEndPoints pour gérer les décors"
  -
    name: Evenements
    description: "\nEndPoints pour gérer les événements"
  -
    name: Utilisateurs
    description: "\nEndPoints pour gérer les utilisateurs"
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: 'You can retrieve your token by visiting your dashboard and clicking <b>Generate API token</b>.'
security:
  -
    default: []
