.rounded-app, .card {
    border-radius: 32px !important;
}

.form-control {
    border-radius: 32px !important;
    height: calc(1.5em + .75rem + 16px);
}

.form-control::placeholder {
    color: grey;
}

.btn {
    border-radius: 32px !important;
    padding: 0.65rem;
}



.app-color {
    color: #00966C !important;
    /* color: rgb(0, 150, 108) !important; */
}

.shadow-hover {
    transition: all;
    transition-duration: 600ms;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.shadow-hover:hover {
    transition: all;
    transition-duration: 600ms;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 150, 108, .5) !important;
    box-shadow: 0 1rem 3rem rgba(0, 150, 108, .5) !important;
}

.item-logout:focus:active {
    background-color: #ff4f70;
    color: #fff !important;
}


.tag-badge-success {
    color: #00966C;
    background-color: rgba(0, 150, 108, .2);
    font-weight: bold;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 32px;
}

.tag-badge-danger {
    color: #ff4f70;
    background-color: rgba(255, 79, 112, .2);
    font-weight: bold;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 32px;
}

.tag-badge-warning {
    color: rgb(253, 193, 106);
    background-color: rgba(253, 193, 106, .2);
    font-weight: bold;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    border-radius: 32px;
}

.paragraph {
    line-height: 30px;
    font-size: 16px;
    color: black;
    margin-left: 2rem;
}

.text-bold {
    font-weight: 900;
}

@media screen and (max-width: 400px) {
    .navbar-brand {
        border-bottom-left-radius: 32px;
    }
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.pre-wrap {
    white-space: pre-wrap !important;
}

::-webkit-scrollbar {
    width: 10px;
    height:  10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    border-radius: 16px;
    background: #555;
}

.text-bold {
    font-weight: 900;
}

.app-color {
    color: #00966C !important;
    /* color: rgb(0, 150, 108) !important; */
}

.app-link {
    transition: all;
    transition-duration: 400ms;
    color: #000 !important;
    font-weight: bold;
}

.app-link:hover {
    transition: all;
    transition-duration: 400ms;
    color: #00966C !important;
}

.shadow-hover {
    transition: all;
    transition-duration: 600ms;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.shadow-hover:hover {
    transition: all;
    transition-duration: 600ms;
    -webkit-box-shadow: 0 1rem 3rem rgba(0, 150, 108, .5) !important;
    box-shadow: 0 1rem 3rem rgba(0, 150, 108, .5) !important;
}


.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    line-clamp: 6;
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
}

.hover-scale {
    transition: all;
    transition-duration: 600ms;
    scale: 1;
}

.hover-scale:hover {
    transition: all;
    transition-duration: 600ms;
    scale: .95;
}

.tag-badge-success {
    color: #00966C !important;
    background-color: rgba(0, 150, 108, .2) !important;
    font-weight: bold;
    /* padding: 0.75rem 1.5rem 0.75rem 1.5rem; */
    border-radius: 32px;
}

.tag-badge-danger {
    color: rgb(255, 79, 112);
    background-color: rgba(255, 79, 112, .2);
    font-weight: bold;
    /* padding: 0.75rem 1.5rem 0.75rem 1.5rem; */
    border-radius: 32px;
}

.tag-badge-warning {
    color: rgb(253, 193, 106);
    background-color: rgba(253, 193, 106, .2);
    font-weight: bold;
    /* padding: 0.75rem 1.5rem 0.75rem 1.5rem; */
    border-radius: 32px;
}

.paragraph {
    line-height: 30px;
    font-size: 16px;
    color: black;
    margin-left: 2rem;
}


.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.rating {
    border: none;
    float: left;
}

.rating>label {
    color: #000;
    float: left;
    cursor: pointer;
}

.rating>label:before {
    font-size: 2em;
    display: inline;
}

.rating>input {
    display: none;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: rgb(255, 193, 7);
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: rgb(255, 193, 7);
}

.contact-card {
    height: 600px;
    overflow: auto;
}

@media screen and (max-width: 500px) {
    .contact-card {
        height: auto;
        overflow: auto;
    }
}